:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --toast-bg: #333;
  --toast-color: #fff;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-50%) translateY(-10px); }
  to { opacity: 1; transform: translateX(-50%) translateY(0); }
}

a {
  font-weight: 500;
  color: #a4a8ff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  a {
    color: #2931be;
  }

  :root {
    color: #213547;
    background-color: #ffffff;
    --toast-bg: #f0f0f0;
    --toast-color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }

  .logo {
    content: url('/src/assets/metapetzlogo.svg');
  }


}


.controls {
 
  display: flex;
  align-items: center;
  justify-content: center;   /* centers horizontally */
  gap: 24px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.colorSquare {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #555;
    margin-bottom: 6px;
}

.hiddenColorInput {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
}

.randomButton {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.12s ease;
}

.randomButton:active {
  transform: scale(0.92);
}




.petNameRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.petName {
  margin: 0;
  width: 200px;      /* big enough for all names */
  text-align: center;
}


.petDescription{
  margin: 4px 0 0 0;
  font-size: 0.9 rem; 
  opacity: 0.8;
  width: 200px;      /* big enough for all descriptions */
  text-align: center;
  min-height: 2.4em;   /* approx 2 lines of text */
  line-height: 1.2em;
}

.petNameDice {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* satisfying click */
.petNameDice:active {
  transform: scale(0.85) rotate(20deg);
}
